<main class="detalle">
    <div class="breadcrumb-class">
    	Está en:<a href="#" target="_self" title="Inicio">Inicio</a>
    	<h1 style="text-align: center;">Bienvenido <%= @student.stu_name %></h1>
    </div>
    <div class="container-fluid" style="padding: 2%">
		  <div class="row">
		    <div class="col-md-3" style="padding: 1%; background-color: #ccc">
					<%= render 'static_pages/personal-info' %>
			</div>
		    <div>
		    	<%= render 'layouts/gallery' %>
		    </div>		
		</div>

</main>