<main class="detalle">
    <div class="breadcrumb-class">
    	Está en:<a href="#" target="_self" title="Inicio">Inicio</a>
    </div>
    <div class="container-fluid" style="padding: 2%">
		  <div class="row">
		    <div class="col-md-3" style="padding: 1%; background-color: #aaa">
					<%= render 'personal-info' %>
		    </div>
  			<div class="col-md-9">
					<div style="padding: 1%; background-color: #eee" class="container-fluid">
						<%= render "students/main"%>
					</div>
  			</div>
		  </div>
		</div>

</main>