<main class="detalle" >
	<div class="breadcrumb-class">
    	Está en:<a href="#" target="_self" title="Insertar numero de documento">Insertar numero de documento</a>
    </div>
	<div class="container-fluid" >
		<%%>
	</div>
</main>