<main class="detalle" >
	<div class="breadcrumb-class">
   	Está en:<a href="#" target="_self" title="Inicio">Nueva solicitud</a>
  </div>
	<h1>Nueva solicitud</h1>

	<%= render 'form', request: @request %>

	<%= link_to 'Back', "/" %>	
</main>