<main class="detalle" >
	<div class="breadcrumb-class">
    	Está en:<a href="#" target="_self" title=""></a>
  	</div>
  	<div class="row">

	<div class="panel panel-success col-md-6 col-md-offset-3">
		<div class="panel-heading">
    		<h3 class="panel-title">Nuevo Documento</h3>
  		</div>

		<%= render 'form', document: @document %>
        <%= link_to 'Back', student_requests_path %>
	</div>
	</div>
</main>